* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}
.header-section {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #aaa;
}
.sub-heading {
  color: #aaa;
  padding: 1rem 0 1.5rem 0;
  font-size: 2rem;
  text-transform: uppercase;
  word-spacing: 0.2rem;
  position: relative;
}
.search-box {
  display: block;
  margin: 0 auto 1rem;
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 2px solid #aaa;
  outline: none;
  color: #555;
}
.search-btn {
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #0a1113;
  color: #fff;
  margin-bottom: 1rem;
}
.preloader {
  background: #fff;
  height: 50vh;
  width: 100%;
}
.loader-img {
  display: block;
  margin-top: 20rem;
  margin-right: auto;
  margin-left: auto;
}
.gallery {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  columns: 4;
  background: #fff;
  transition: opacity 1s ease-in;
  opacity: 0;
}
.gallery-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 2rem;
  cursor: pointer;
  background: #f9f9f9;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}
.screen-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  background: #fff;
  transition: 1s;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.hidden {
  display: none;
  opacity: 0;
}
.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  cursor: pointer;
  color: #f03e3e;
}
.download-btn {
  text-transform: capitalize;
  padding: 1rem 2rem;
  background: #37b24d;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.open-img {
  height: 60%;
  width: auto;
}
.desc-img {
  font-size: 2rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.desc-img:nth-last-child {
  margin-bottom: 0;
}
.img-link-portfolio {
  text-decoration: none;
  color: #1c7ed6;
}
.arrows {
  color: #868e96;
  font-size: 6rem;
  cursor: pointer;
  position: absolute;
  bottom: 5%;
}
.left-arrow {
  left: 40%;
}
.right-arrow {
  right: 40%;
}
@media (max-width: 89em) {
  .screen-popup {
    height: 65%;
  }
  .open-img {
    width: 30%;
    height: auto;
  }
  .desc-img {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }
  .arrows {
    font-size: 5rem;
    bottom: 2%;
  }
}
@media (max-width: 62em) {
  .screen-popup {
    height: 55%;
  }
  .open-img {
    width: 35%;
    height: auto;
  }
  .arrows {
    font-size: 4rem;
  }
}
@media (max-width: 51em) {
  .screen-popup {
    height: auto;
    width: 80%;
    flex-direction: column;
    gap: 2rem;
  }
  .open-img {
    width: 50%;
    height: auto;
    margin-top: 15%;
  }
  .image-description {
    margin-bottom: 5%;
  }
  .desc-img {
    font-size: 1.8rem;
    margin-bottom: 0.7rem;
  }
  .arrows {
    font-size: 5rem;
    top: 50%;
    transform: translateY(-50%);
  }
  .left-arrow {
    left: 1rem;
  }
  .right-arrow {
    right: 1rem;
  }
}
@media (max-width: 37.5em) {
  html {
    font-size: 55%;
  }
  .screen-popup {
    gap: 1.4rem;
  }
  .close-btn {
    font-size: 2.5rem;
  }
  .download-btn {
    padding: 0.7rem 1.4rem;
    font-size: 1.4rem;
  }
  .open-img {
    width: 55%;
    height: auto;
    margin-top: 12%;
  }
  .desc-img {
    font-size: 1.4rem;
  }
  .arrows {
    font-size: 4rem;
  }
}
@media (max-width: 30em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 25em) {
  html {
    font-size: 40%;
  }
  .open-img {
    margin-top: 15%;
  }
}
